Source: com.github.aggalex.wineglass
Section: utils
Priority: optional
Maintainer: Alex Angelou <ubuntu1aggelalex@gmail.com>
Build-Depends: meson,
               debhelper (>= 10.5.1),
               libgranite-dev,
               libgtk-3-dev,
               valac,
               libgtksourceview-3.0-dev

Package: com.github.aggalex.wineglass
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, wine | wine-development | wine-stable
Pre-Depends: dpkg (>= 1.15.6)
Description: A GUI for Wine
